body{
    text-align: center;
    background-color: rgb(26, 255, 209); 
   
}
h1{
    font-family: 'Oswald',sans-serif;
    font-weight: bold;
    font-size: 80px;
    /* margin: 10px 0px; */
    padding: 10px 0px;
}
/* #description{
    margin-bottom: 36px;
} */
header p{
    margin-bottom: 36px;
}
/* h2{
    font-weight: bold;
    font-size: 35px;
} */
a{
   background-color: crimson;
   color: black;
   /* border: 5px solid rgb(13, 255, 0); */
   border-radius: 20px;
   text-decoration: none;
   font-size: xx-large;
   margin: 6px auto;
   padding: 4px;
   display: inline-block;

}
a:hover{
    color: blue;
    text-decoration: none;
}
/* p{
    font-family: 'Fira Sans',sans-serif;
    font-size: 25px;
    background-color: brown;
    border-radius: 100px;
    margin: 10px auto 10px auto;
    width: 600px;
    margin: 10px auto;
} */
li{
    list-style-type: none;
    background-color: rgb(108, 66, 66);
    /* color: rgb(91, 91, 91); */
    border-radius: 100px;   
    margin: 6px auto ;
    padding: 10px 0px;
    width: 500px;
    box-shadow: 1px 1px 5px ;
}
h2{
    font-family: 'Oswald',sans-serif;
    font-size: 30px;
    color: rgb(255, 153, 0);
}
main p{
    margin: 12px;
    color: rgb(17, 246, 124);
}
.core-goal{
    background-color: rgb(59, 35, 35);
}
